:root {
  /* CSS HEX */
  --jet: #353535ff;
  --ming: #3c6e71ff;
  --white: #ffffffff;
  --gainsboro: #d9d9d9ff;
  --indigo-dye: #284b63ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  line-height: 1.4;
  font-size: 10px;
  background-color: var(--jet);
}

.header {
  color: var(--gainsboro);
  font-size: 1.6rem;
  background-color: var(--ming);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  padding: 2rem;
  font-size: 1.6rem;
}

.nav-item a {
  text-decoration: none;
  color: var(--gainsboro);
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}
