:root {
  /* CSS HEX */
  --jet: #353535ff;
  --ming: #3c6e71ff;
  --white: #ffffffff;
  --gainsboro: #d9d9d9ff;
  --indigo-dye: rgb(43, 105, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  line-height: 1.4;
  font-size: 10px;
  background-color: rgb(24, 24, 24);
  color: var(--gainsboro);
}

.header {
  color: var(--gainsboro);
  font-size: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(./background-matrix.jpg);
  background-color: var(--indigo-dye);
  background-position: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* flashing time remaining styling */
.nav-item {
  animation: blinkingText 01s infinite;
}
@keyframes blinkingText {
  0% {
    color: rgb(255, 0, 0);
  }
  49% {
    color: rgb(255, 0, 0);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

.nav-item {
  padding: 1rem;
  font-size: 1.6rem;
}

.nav-item span {
  font-size: 3rem;
}

.nav-item a:hover {
  color: white;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  transition: all 0.5s ease;
}

.nav-item a {
  text-decoration: none;
  color: var(--gainsboro);
  font-size: 2.5rem;
}

.main {
  font-size: 1.5rem;
}

.container {
  margin: 0 2rem;
  padding: 3rem;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  letter-spacing: 0.5rem;
}

.start-container {
  text-align: center;
}

button {
  margin: 0.2rem;
}

/* Button begin styling */
.button-begin,
.button-begin::after {
  width: 350px;
  height: 86px;
  font-size: 36px;
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(45deg, transparent 5%, var(--indigo-dye) 5%);
  border: 0;
  color: var(--gainsboro);
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px var(--gainsboro);
  outline: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 0.4rem;
}

.button-begin::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ANSWER!";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    var(--indigo-dye) 5%
  );
  text-shadow: -3px -3px 0px #5eff00, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-begin:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* Button question styling */
button,
button::after {
  width: 100%;
  height: 50px;
  font-size: 36px;
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(45deg, transparent 5%, var(--indigo-dye) 5%);
  border: 0;
  color: var(--gainsboro);
  letter-spacing: 3px;
  line-height: 50px;
  box-shadow: 6px 0px 0px var(--gainsboro);
  outline: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 0.4rem;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ANSWER!";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    var(--indigo-dye) 5%
  );
  text-shadow: -3px -3px 0px #5eff00, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.question-container {
  text-align: center;
}

.question {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.options.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}

.option-item {
  margin: 0.6rem 0;
  font-size: 2rem;
}

.answer-alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.answer-alert-success {
  color: green;
  /* background-color: var(--indigo-dye);
  border-color: var(--alert-success-border); */
}

.answer-alert-danger {
  color: red;
  /* background-color: var(--indigo-dye);
  border-color: var(--alert-danger-border); */
}

.score-form {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(./background-matrix.jpg);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-item {
  margin: 1rem 0;
}

.form-item input {
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
  width: 75%;
  height: 3rem;
  flex-shrink: inherit;
  text-align: center;
  color: green;
}

.game-over {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(./background-matrix.jpg);
}

/* Resizing properties for phone screen */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .start-container {
    text-align: center;
    margin: 0 1rem;
    padding: 2rem;
  }
  .form-item input {
    width: 100%;
  }
}
